<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2017 - All Rights Reserved - Arash Hatami
  -->
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ir.hatamiarash.hyperonline">

    <uses-sdk tools:overrideLibrary="co.ronash.pushe"/>
    <permission
        android:name="ir.hatamiarash.hyperonline.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>

    <uses-permission android:name="ir.hatamiarash.hyperonline.permission.C2D_MESSAGE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <application
        android:name="volley.AppController"
        android:allowBackup="true"
        android:configChanges="keyboardHidden|orientation"
        android:fullBackupContent="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name_fa"
        android:supportsRtl="false"
        android:theme="@style/AppTheme2"
        tools:replace="supportsRtl, icon, label, allowBackup">
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name_fa"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity_Main"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="hyper-online.ir"
                    android:scheme="http"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity_List"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ShopCard"
            android:label="Shop Cards"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Login"
            android:label="Login"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".Register"
            android:label="Register"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".UserProfile"
            android:label="User Profile"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".EditProfile"
            android:label="Edit User Profile"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".EditPassword"
            android:label="Edit User Password"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".ResetPassword"
            android:label="Reset Forgotten Password"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Lobby"
            android:label="Lobby Page"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Intro"
            android:label="Intro Page"/>
        <activity
            android:name=".Test"
            android:label="Test Page"/>
        <activity
            android:name=".Web"
            android:label="Web Page"/>
        <activity
            android:name="ir.hatamiarash.Image.TempActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent"/>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <receiver android:name="co.ronash.pushe.receiver.UpdateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED"/>
                <data
                    android:path="ir.hatamiarash.hyperonline"
                    android:scheme="package"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>

                <category android:name="ir.hatamiarash.hyperonline"/>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="co.ronash.pushe.token"
            android:value="PUSHE_728678053167"/>
        <meta-data
            android:name="co.ronash.pushe.cr"
            android:value="aHR0cDovLzJjNzBjZGM1N2VmNjQyMjk4NmY4NmMyNjJmNDAxZjM0OjczZTIxZjVhMDkyMzRjNjc5YWQzZWNmZTM5OGZmM2YxQGNhLnB1c2hlLmlyLzYzODE="/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCaLExRw_7fmt6ecXbWKoGJXAdjCfYdb4s"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="10b082ce8ebde4fabdf73437a140a4dabf641907"/>

        <meta-data
            android:name="android.app.default_searchable"
            android:value=".Search"/>

        <activity
            android:name=".Search"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
    </application>
</manifest>